main{
    flex: 1; /*garder footer en bas de page*/
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

li a, .header-label{
    margin-top: 8px;
}

ul li{
    margin-right: 30px;
}

.header-label{
    margin-right: 50px;
}